html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

.masthead {
  background-image: url("../images/logo.svg"), url("../images/logo.svg"), url("../images/masthead-bg.png");
  background-size: 33px auto, 33px auto, 70px auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 5% 15%, 95% 15%, left top;
  text-align: center;
  color: #512200;
}

h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
}

nav ol {
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: rgba(81, 34, 0, 0.5);
}

nav li {
  float: left;
  text-align: center;
  display: inline-block;
  width: 25%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 1.092px;
}

li:hover {
  background-color: rgba(81, 34, 0, 0.5);
}

.rocks{
	position: relative;
	width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
}

.rocks p{
  font-size: 1em;
  font-weight: bold;
	position: absolute;
	bottom: 0.3em;
	text-align: center;
	width: 100%;
	color: white;
  padding-left: 75px;
  padding-right: 75px;
}

img {
  margin: 0;
  padding: 0;
}

.left {
  width: 50%;
  padding: 0;
  float: left;
}

.right {
  width: 50%;
  padding: 0;
  float: right;
}

.image {
  margin: 0;
  padding: 0;
  position: relative;
}

.btn-left {
  display: inline-block;
  position: absolute;
  padding: 2em, 2em;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: normal;
  color: #fff;
  background-color: #6FC000;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #6FC000, #388200);
  left: 12.5%;
}

.btn-right {
  display: inline-block;
  position: absolute;
  padding: 2em, 2em;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: normal;
  color: #fff;
  background-color: #6FC000;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #6FC000, #388200);
  right: 12.5%;
}

footer {
  background-color: rgba(81, 34, 0, 0.5);
  clear: both;
}

.beetle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 20px;
}
